.ticketTypeListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px;
	border: 1px solid grey;
}

.ticketTypeListItem + .ticketTypeListItem {
	margin-top: 10px;
}

.ticketTypeDescription {
	color: gray;
}
